# Banco de Dados
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bnet_doc
# O Banco de Dados deve ser configurado via ambiente no Docker
# DATABASE_URL=postgresql://postgres:postgres@db:5432/bnet_doc

# JWT Segurança
# Gere uma chave segura em ambiente de produção: openssl rand -hex 32
JWT_SECRET_KEY=CHAVE-SECRETA-AQUI
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Autenticação LDAP (Active Directory Windows Server)
# Defina LDAP_MOCK=True para testar localmente sem precisar de um AD real conectado.
LDAP_MOCK=True

# Configurações do AD real
LDAP_SERVER=ldap://ad.empresa.com:389
LDAP_BASE_DN=DC=empresa,DC=com
LDAP_REQUIRED_GROUP=CN=TI_Admin,OU=Groups,DC=empresa,DC=com

# Em AD, a busca inicial geralmente requer um usuário de serviço (Service Account)
LDAP_BIND_USER=CN=LDAP_Query,OU=ServiceAccounts,DC=empresa,DC=com
LDAP_BIND_PASSWORD=senha_do_usuario_de_servico

# Filtro padrão do AD para localizar o sAMAccountName
LDAP_USER_SEARCH_FILTER=(sAMAccountName={username})

# Usuário autorizado a configurar e alterar a Senha Mestra do cofre de senhas
MASTER_PASSWORD_USER=admin.ti
